@import "../../../../utils/scss/_variables.scss";
@import "../../../../utils/scss/_config";

.btn.btn--create {
  z-index: 30;
  position: fixed;
  display: block;
  background-color: $mainGreen;
  width: 3rem;
  height: 3rem;
  bottom: 0.8rem;
  right: 0.8rem;
  border: 1px solid #0002;

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@include media-md {
  .btn.btn--create {
    z-index: 0;
    position: relative;
    width: fit-content;
    min-height: 0;
    height: 3rem;
    padding: 0.5rem;
    right: 0;
    bottom: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: auto;
  }
}
