@import "../../../../utils/scss/_variables.scss";

.btn.btn--create {
  z-index: 30;
  position: fixed;
  display: block;
  background-color: $mainGreen;
  width: 3rem;
  height: 3rem;
  bottom: 0.8rem;
  right: 0.8rem;
  border: 1px solid #0002;

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
