@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap");
@import "utils/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Commissioner", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
button {
  background-color: inherit;
  color: inherit;
  border-width: 0;
  cursor: pointer;
}
ul,
ol,
dd {
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// styles shared by multiple components

button {
  display: block;
  min-height: 2.8rem;
  padding: 0 0.3rem;
  background-color: $mainGreen;
  color: $textWhite;
  border-radius: 33.5px;
}

.page-container {
  display: block;
  margin: 0;
  padding-top: 3rem;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: $backgroundWhite;
}

.textfield-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.7rem 0.5rem;
  margin: 0 auto;
}

.textfield-label {
  display: block;
  width: 100%;
  max-width: 25rem;
  margin: 0.2rem auto;
}

.textfield-label.error,
.textfield-input.error {
  color: $dangerTextColor;
}

.textfield-input {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 25rem;
  border: 1px solid $secondaryBlack;
  border-radius: 5px;
  min-height: 2rem;
  padding: 0.3rem;
}

.form-button-container {
  width: 100%;
  padding: 0 0.5rem;
}

.form-button.submit {
  display: block;
  background-color: $mainGreen;
  color: $textWhite;
  min-height: 2.8rem;
  width: 100%;
  margin: 0.5rem auto;
  max-width: 25rem;
}

.ui.primary.google.button {
  width: 100%;
  background-color: #469;
  margin: 0.5rem auto;
  max-width: 25rem;
}
.ui.primary.google.button:hover {
  background-color: #58b;
}

// styles with the auth__ prefix will be used for Login and Register components

.auth.page-container {
  padding-top: 0;
}

.auth__form {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $foregroundWhite;
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  padding-top: 2rem;
}

.auth__heading-title {
  width: 100%;
  margin-top: 0;
  text-align: center;
  // margin: 0 auto;
}

// note: I know I should use SCSS, but kind of sleepy (-tella)
@media screen and (min-width: 768px) {
  .auth__form {
    position: relative;
    top: 1rem;
    max-width: 32rem;
    min-width: 0;
    min-height: 0;
    height: auto;
    padding-top: 1rem;
    border-radius: 8px;
  }

  .textfield-container {
    max-width: 25rem;
  }

  .textfield-label {
    max-width: 25rem;
  }

  .form-button.submit,
  .ui.primary.google.button {
    width: fit-content;
    padding: 0 1.5rem;
  }
}
