@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "utils/scss/variables.scss";
@import "utils/scss/config.scss";

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: $fontPrimary;
}

body {
  font-family: $fontPrimary;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

// styles shared by multiple components

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
button {
  background-color: inherit;
  color: inherit;
  border-width: 0;
  cursor: pointer;
}

button {
  display: block;
  min-height: 2.8rem;
  padding: 0 0.3rem;
  background-color: $mainGreen;
  color: $textWhite;
  border-radius: 33.5px;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}

li {
  list-style-type: none;
}

.btn {
  min-height: 2.8rem;
  width: fit-content;
}

#modal {
  z-index: 100;
}

#modal {
  z-index: 200;
}

.page-container {
  display: block;
  margin: 0;
  padding-top: 5rem;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: $backgroundWhite;
}

.textfield-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.7rem 0.5rem;
  margin: 0 auto;
}

.form__label {
  display: block;
  width: 100%;
  max-width: 25rem;
  margin: 0.2rem auto;
  color: $secondaryBlack;
  &.error {
    color: $dangerTextColor;
  }
}

.form__input {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 25rem;
  border: 1px solid $secondaryBlack;
  border-radius: 5px;
  min-height: 2rem;
  padding: 0.3rem 0.5rem;

  &:focus {
    background-color: $textfieldFocusColor;
    outline: none;
    border: 2px solid $secondaryBlack;
  }

  &:active {
    outline: none;
  }

  &:disabled {
    background-color: #ccc;
  }

  &.error {
    color: #111;
    background-color: $dangerInputBackgroundColor;
    border: solid 1px $dangerTextColor;
    margin-top: 0.7rem;
  }

  &.error:focus {
    border: solid 2px $dangerTextColor;
  }
}

.error-container {
  width: 100%;
  max-width: 25rem;
  color: $dangerTextColor;
}

.error-image {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.35rem;
  margin-right: 0.45rem;
  filter: $dangerImageFilter;
}

.form-button-container {
  width: 100%;
  padding: 0 0.5rem;
}

.form-button.submit {
  display: block;
  background-color: $mainGreen;
  color: $textWhite;
  min-height: 2.8rem;
  width: 100%;
  margin: 0.5rem auto;
  min-width: 12rem;
  max-width: 25rem;
  &:hover {
    background-color: $mainGreenDim;
  }
  &.danger {
    margin: 1rem auto;
    margin-top: 1.5rem;
    background-color: $dangerBackgroundColor;
  }
  &.danger:hover {
    background-color: $dangerBackgroundColorHover;
  }
}

// styles with the auth__ prefix will be used for Login and Register components
.auth.page-container {
  padding-top: 0;
}

.auth__form-container {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $foregroundWhite;
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  padding-top: 2rem;
}

.auth__form {
  width: 100%;
}

.auth__heading-title {
  width: 100%;
  margin-top: 0;
  text-align: center;
  // margin: 0 auto;
}

.form__link {
  margin: 1rem auto;
  color: $secondaryBlack;
  &:hover {
    cursor: pointer;
    color: $secondaryBlackLight;
    text-decoration: underline;
  }
}

// note: I know I should use SCSS, but kind of sleepy (-tella)
@media screen and (min-width: 768px) {
  .auth.page-container {
    padding-bottom: 2rem;
  }

  .dashboard.page-container {
    padding-top: 6.5rem;
  }

  .auth__form-container {
    position: relative;
    top: 1rem;
    max-width: 32rem;
    min-width: 0;
    min-height: 0;
    height: auto;
    padding-top: 1rem;
    border-radius: 8px;
  }

  .textfield-container {
    max-width: 25rem;
  }

  .form__label {
    max-width: 25rem;
  }

  .form-button.submit {
    width: fit-content;
    padding: 0 1.5rem;
  }
}

@include media-md {
  .auth.page-container {
    padding-top: 5rem;
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) {
  .auth__form-container {
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
  }
}
