@import "../../utils/scss/_variables";

body {
  background: $backgroundWhite;
}

.main {
  display: grid;
  grid-gap: 0.5rem;

  &__left {
    display: grid;
    justify-items: center;
  }

  &__left--info {
    background-color: $foregroundWhite;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;

    & div {
      margin-top: 0.5rem;
      margin: 0 auto;
      padding: 0.5rem;
      border-radius: 10px;
      max-width: 80vw;

      &:hover {
        background-color: $mainGreen;
      }
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49vw, 1fr));
  }

  &__right--card {
    background: $mainGreen;
    min-height: 10rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .main {
    height: 90vh;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 30vw 70vw;

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__left--info {
      background-color: #ffffff;
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
      margin-top: 3rem;
      padding: 1rem;
      display: grid;
      justify-items: center;
      border-radius: 5px;
    }

    &__right {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }

    &__right--card {
      background-color: #3cb3ab;
      border-radius: 5px;
      max-height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 1rem;
    }
  }
}
