// note: just going to leave this here for future reference purposes (tella)
// @import "./scss/fontawesome.scss";
// @import "./scss/solid.scss";

// import using relative path
@import "../../scss/fontawesome.scss";
@import "../../scss/solid.scss";
@import "../../utils/scss/_variables";

.wrapper {
  height: 100vh;
  display: grid;
}

.header {
  height: 10vh;
  background-color: $foregroundWhite;
  display: flex;
  justify-content: space-between;
  // note: let's start using variables (so it's much easier to change colors if we ever make design changes)
  // background-color: #ffffff;

  & p {
    margin: 1rem;
  }

  &__right {
    display: flex;
    flex-direction: row;
  }
}

.main {
  height: 90vh;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 30vw 70vw;

  &__left {
    display: grid;
    grid-template-rows: 25rem 1fr;
  }

  &__left--info {
    background-color: #ffffff;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
    display: grid;
    justify-items: center;
    border-radius: 5px;

    & div {
      margin-top: 1rem;
      margin: 0 auto;
      padding: 0.5rem;
      border-radius: 10px;
      min-width: 10rem;

      &:hover {
        background-color: #3cb3ab;
      }
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }

  &__right--card {
    background-color: #3cb3ab;
    border-radius: 5px;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
  }
}
