@import "../../utils/scss/_variables";
@import "../../utils/scss/_config";

// this is only a flex box on desktop
.dashboard__flex-outer-container {
  width: 100%;
  // background-color: pink;
}

.dashboard__menu-container,
.dashboard__menu-items,
.dashboard__menu-button,
.dashboard__menu-item {
  width: 100%;
}

.dashboard__menu-button {
  display: block;
  border-top: 1px solid #bbb;
  border-radius: 0px;
  background-color: #0000;
  color: $secondaryBlack;
  min-height: 3rem;
  font-size: 1.15rem;
  font-weight: 700;
  text-align: left;
  padding-left: 1.3rem;
}

.dashboard__content {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $backgroundWhite;
  width: 100vw;
  height: 100vh;
}

////////////////////DASHBOARD CONTENT////////////////////
.dashboard-content__header {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-bottom: 1px solid #bbb;
}
.dashboard-content__heading {
  font-size: 1.25rem;
}
////////////////////DASHBOARD CONTENT////////////////////

@include media-md {
  .dashboard__flex-outer-container {
    display: flex;
  }
  .dashboard__menu-container {
    width: 47%;
    border: 1px solid #bbb;
  }
}

/* Jamie's stuff'
body {
  background: $backgroundWhite;
}

.main {
  display: grid;
  grid-gap: 0.5rem;

  &__left {
    display: grid;
    justify-items: center;
  }

  &__left--info {
    background-color: $foregroundWhite;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;

    & div {
      margin-top: 0.5rem;
      margin: 0 auto;
      padding: 0.5rem;
      border-radius: 10px;
      max-width: 80vw;

      &:hover {
        background-color: $mainGreen;
      }
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49vw, 1fr));
  }

  &__right--card {
    background: $mainGreen;
    min-height: 10rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .main {
    height: 90vh;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 30vw 70vw;

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__left--info {
      background-color: #ffffff;
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
      margin-top: 3rem;
      padding: 1rem;
      display: grid;
      justify-items: center;
      border-radius: 5px;
    }

    &__right {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    }

    &__right--card {
      background-color: $mainGreen;
      border-radius: 5px;
      max-height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 0.25rem;
    }
  }
}
*/
