@import "../../../utils/scss/_variables.scss";

.backdrop {
  z-index: 99;
  /* display: none; */
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  min-width: 100vw;
  min-height: 100vh;
}

.backdrop.show {
  visibility: visible;
  animation: 0.3s ease-out forwards backdrop-show;
}

.backdrop.hide {
  // visibility: visible;
  animation: 0.3s ease-out forwards backdrop-hide;
}

.modal {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 auto;
  background-color: $foregroundWhite;

  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  padding-bottom: 2rem;
  overflow-y: auto;
  animation: 0.3s ease-out forwards modal-show;
}

.modal.hide {
  animation: 0.3s ease-out forwards modal-hide;
}

.modal__header {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 0 0.8rem;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  // background-color: #111;
  background-color: #fafafa;
}

.modal-content-container {
  display: flex;

  // justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}
.modal-heading-container {
  padding: 0.5rem;
}
.modal__header-content-container.modal-heading-container {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}
.modal__header-heading,
.modal__header-heading.modal-heading {
  display: block;
  width: 100%;
}
.modal__header-heading.modal-heading {
  position: relative;
  right: 0.5rem;
}
.modal-heading,
.modal__modal-p {
  display: block;
  width: 100%;
  // text-align: center;
  color: $mainBlack;
  height: fit-content;
  word-break: normal;
  overflow-wrap: break-word;
}
.modal-heading {
  text-transform: none;
  font-size: 1.25rem;
}

.modal__header-close.close-button-container {
  position: relative;
  left: 0.8rem;
}

.modal__modal-p {
  font-size: 1.1rem;
  text-align: center;
  max-width: 25rem;
  margin: 0 auto;
}
.modal__modal-p.small-text {
  font-size: 0.95rem;
}

.modal__modal-p.danger {
  color: $dangerTextColor;
}

.modal__modal-p.enlarged-text {
  margin: 1rem auto;
  font-size: 1.3rem;
  color: $mainBlack;
  font-weight: 700;
}

.modal__modal-p.centered {
  text-align: center;
}

.modal-form-content {
  padding: 0.5rem;
  padding-top: 3.4rem;
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .modal {
    width: fit-content;
    height: auto;
    min-height: 0;
    min-width: 32rem;
    max-height: 95vh;
    // max-height: 40rem;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    border: 1px solid #333;
    border-radius: 8px;
    padding-top: 3rem;
    padding-bottom: 0;
    overflow-y: hidden;
  }

  .modal form {
    max-height: 70vh;
    overflow-y: auto;
  }

  .modal__header {
    border-bottom: none;
    background-color: #0000;
  }

  .modal__header,
  .modal__header.settings-page-sidebar-header {
    position: fixed;
    // background-color: #0000;
    margin: 0;
  }
  .form__form-content.modal-form-content {
    min-height: 0;
    height: auto;
    padding: 0.5rem;
    padding-bottom: 1rem;
  }
  .modal__header-content-container.modal-heading-container {
    justify-content: space-between;
  }
  .modal__header-heading.modal-heading {
    right: 0;
  }

  .modal-form-content {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}

@keyframes backdrop-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes backdrop-hide {
  0% {
    opacity: 0.8;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-hide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
