@import "../../utils/scss/_variables";
@import "../../utils/scss/_config";

.project-item {
  margin: 1rem auto;
  max-width: 25rem;
}

.project-item__content {
  padding: 0;
}

.project-item__info {
  padding: 1rem;
  text-align: center;
}

.project-item__image {
  width: 100%;
  height: 6rem;
  background-color: #999;
  // margin-right: 1.5rem;
}

.project-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item__info h2,
.project-item__info h3,
.project-item__info p {
  margin: 0 0 0.5rem 0;
}

.project-item__info h2 {
  font-size: 1.1rem;
}

.project-item__info h3 {
  font-size: 1.05rem;
  font-weight: normal;
  color: $mainBlackLight;
}

.project-item__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 2.5rem;
  border-top: 1px solid #ccc;
}

.project-item__modal-content {
  padding: 0;
}

.project-item__modal-actions {
  text-align: right;
}

.project-item__action-button {
  background-color: #0000;
  color: $secondaryBlack;
  width: fit-content;
  height: auto;
  min-height: 0;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
}

.project-item__action-button.danger {
  color: $dangerTextColor;
}

@media screen and (min-width: 600px) {
}

@include media-md {
  .project-item__image {
    // height: 20rem;
  }
}

@include media-lg {
}

// old styling, remove if irrelevant in the future
/*
.project-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}
*/
