@import "../../utils/scss/_variables";
@import "../../utils/scss/_config";

.project-item {
  margin: 1rem auto;
  // width: fit-content;
  max-width: 24rem;
  width: 88vw;
}

.project-item__content {
  padding: 0;

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.6);
  }
}

.project-item__info {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.project-item__image {
  width: 88vw;
  height: 49.5vw;
  max-width: 24rem;
  max-height: 13.5rem;
  // height: 9rem;
  background-color: #999;
  // margin-right: 1.5rem;
}

.project-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item__info h2,
.project-item__info h3,
.project-item__info p {
  margin: 0 0 0.5rem 0;
}

.project-item__info h2 {
  font-size: 1.2rem;
}

.project-item__info h3 {
  font-size: 1.05rem;
  font-weight: normal;
  color: $mainBlackLight;
}

.project-item__amount-donated {
  font-size: 1.15rem;
  font-weight: 700;
}

.project-item__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 2.5rem;
  width: 100%;
  border-top: 1px solid #ccc;
}

.project-item__modal-content {
  padding: 0;
}

.project-item__modal-actions {
  text-align: right;
}

.project-item__action-button {
  background-color: #0000;
  color: $secondaryBlack;
  border: 1px solid $secondaryBlack;
  width: fit-content;
  height: auto;
  min-height: 0;
  border-radius: 3px;
  padding: 0.4rem 0.7rem;
  margin: 0.5rem;

  &:hover {
    background-color: #0001;
  }
}

.project-item__action-button.danger {
  background-color: $dangerBackgroundColor;
  color: #fff;
  border: none;

  &:hover {
    background-color: $dangerBackgroundColorHover;
  }
}

@media screen and (min-width: 600px) {
  .project-item {
    width: 40vw;
  }
  .project-item__image {
    width: 40vw;
    height: 22.5vw;
  }
}

@include media-md {
  .project-item__image {
    // height: 20rem;
  }
}

@include media-lg {
  .project-item {
    width: 24vw;
    max-width: 16rem;
  }
  .project-item__image {
    width: 24vw;
    height: 13.5vw;
    max-width: 16rem;
    max-height: 9rem;
  }
}

// old styling, remove if irrelevant in the future
/*
.project-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}
*/
