@import "../../utils/scss/_variables";

.error-page__message-container {
  padding: 0 1rem;
  max-width: 35rem;
  margin: 0 auto;
}

.error-page.two-buttons-container {
  margin-top: 2rem;
}

.error-page__link {
  background-color: #0000;
  color: $secondaryBlack;
  border: 2px solid $secondaryBlack;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  margin: 1rem;
  border-radius: 33px;

  &:hover {
    background-color: #0001;
  }
}
