@import "../../utils/scss/_variables";

.ui.primary.google.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #469;
  margin: 1rem auto;
  max-width: 25rem;
  font-size: 1rem;

  &:hover {
    background-color: #358;
  }

  &.user-nav__link--danger {
    display: block;
    width: fit-content;
    margin: 0 1rem 0 0;
    background-color: #0000;
    color: $dangerTextColor;
  }
  &.user-nav__link--danger:hover {
    background-color: #0001;
  }
}

.google-icon-button-img {
  position: relative;
  top: 0.05rem;
  width: 1rem;
  height: 1rem;
  margin: 0;
  margin-right: 0.8rem;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(308deg)
    brightness(106%) contrast(100%);
}

@media screen and (min-width: 768px) {
  .ui.primary.google.button {
    width: fit-content;
    padding: 0 1.5rem;
  }
}
