@import "../../utils/scss/_variables";
@import "../../utils/scss/_config";

.all-projects__section {
  padding: 0.5rem;
}

.all-projects__heading {
  font-size: 1.5rem;
  text-align: center;
}

.all-projects__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  // align-items:
}

.all-projects__item {
  width: 100%;
  margin: 0.8rem;
}
@media screen and (min-width: 600px) {
  .all-projects__item {
    width: 45%;
  }
}

@include media-md {
}
@include media-lg {
  .all-projects__item {
    width: 30%;
  }
}

@include media-xl {
}
