@import "../../utils/scss/_variables";

.project__page-container {
  display: grid;

  h1 {
    font-size: 1.5rem;
    margin: 2rem;
  }
}

.project__details-card {
  background-color: rgba(32, 178, 170, 0.5);
  border-radius: 15px;
  display: grid;
  justify-items: start;
  min-height: 35vh;
  padding: 1rem;
  margin: 1rem;

  &:hover {
    background-color: rgba(32, 178, 170, 0.7);
  }
}

.project.btn {
  min-width: 45vw;
  margin: 0 auto;
  margin-top: 0.75rem;
  background-color: #ffaa14;
  color: $secondaryBlack;

  &:hover {
    background-color: #ee9900;
  }
}

.project__actions-container {
  padding: 0.5rem 1rem;
  width: 100%;
}

.project__action-button {
  margin: 0 auto;
  margin-top: 0.75rem;
  width: 100%;
  // max-width: 25rem;
}

.project__action-button.danger {
  background-color: $dangerBackgroundColor;

  &:hover {
    background-color: $dangerBackgroundColorHover;
  }
}

// ----------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@media (min-width: 768px) {
  // for the desktop version
  .project__page-container {
    display: grid;
  }

  .project__details-container {
    display: grid;
    justify-items: center;
  }

  .project__details-card {
    width: 50vw;
    min-height: 35vh;
    margin-bottom: 1rem;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .project.btn {
    min-width: 15vw;
    margin: 0 auto;
    margin-top: 0.75rem;
  }

  .project__action-button {
    padding: 0.5rem 1rem;
    width: fit-content;
  }
}
