@import "../../utils/scss/_variables";

.project.page-container {
}

.project h1 {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 0;
}

.project p {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project__amount-donated {
  font-size: 1.3rem;
  font-weight: 700;
}

.project__flex-outer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem;
}

.project__details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 35rem;
  // border: 1px solid black;
  // border-radius: 15px;
  margin: 0.5rem auto;
}

.project__image {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  display: block;
  width: 88vw;
  max-width: 32rem;
  height: 66vw;
  max-height: 24rem;
}

p.project__description {
  border-top: 1px solid #bbb;
  margin-top: 0.7rem;
  padding-top: 0.7rem;
}

.project__actions-container {
  border-top: 1px solid #bbb;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.project__button {
  margin: 0 auto;
  margin-top: 0.75rem;
  width: 100%;
  min-width: 12rem;
  // max-width: 25rem;
}

.project__button.cta {
  background-color: #ffaa14;
  color: $mainBlack;

  &:hover {
    background-color: #ee9900;
  }
}

.project__button.danger {
  background-color: $dangerBackgroundColor;

  &:hover {
    background-color: $dangerBackgroundColorHover;
  }
}

// ----------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@media (min-width: 768px) {
  .project__actions-container,
  .project__details-container {
    width: 50%;
    max-width: 28rem;
    margin: 0;
  }
  .project__details-container {
    max-width: 35rem;
    justify-content: flex-start;
  }
  .project__actions-container {
    border-top: 0px solid #0000;
  }
  .project__image {
    width: 48vw;
    max-width: 32rem;
    height: 36vw;
    max-height: 24rem;
  }
  .project p {
    text-align: left;
  }
  .project.btn {
    width: fit-content;
    min-width: 0;
    margin: 0 auto;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
  }

  .project__button {
    padding: 0.5rem 1rem;
    width: fit-content;
  }
}
