@import "../../utils/scss/_variables";

.page {
  display: grid;

  h1 {
    color: $mainGreen;
    font-size: 1.5rem;
    margin: 2rem;
  }
}

.main__right--card {
  background-color: rgba(32, 178, 170, 0.5);
  border-radius: 15px;

  &:hover {
    background-color: rgba(32, 178, 170, 0.7);
  }
}

.project.btn {
  width: 65%;
  margin: 0 auto;
  margin-top: 0.75rem;
  background-color: rgba(255, 147, 79, 1);

  &__share {
    background-color: rgba(255, 147, 79, 0.7);
  }
}

@media (min-width: 768px) {
  // for the desktop version
  .page {
    display: grid;
  }

  .content {
    display: grid;
    justify-items: center;
  }

  .main__right--card {
    width: 50vw;
    min-height: 35vh;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .project.btn {
    width: 15vw;
    margin: 0 auto;
    margin-top: 0.75rem;
    background-color: rgba(255, 147, 79, 1);

    &__share {
      background-color: rgba(255, 147, 79, 0.7);
    }
  }
}
