@import "../../utils/scss/_variables";

.burger {
  position: absolute;
  top: 2.5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  display: block;

  &:focus {
    outline: none;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    margin: 0.5rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundWhite;
  display: none;

  & button {
    margin: 0.5rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navlink {
  background-color: $foregroundWhite;
  color: black;
  padding: 1rem;
  border-radius: 40px;
  min-width: 10rem;

  &:hover {
    background-color: lightgray;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.icon {
  cursor: pointer;
  max-width: 1rem;
  position: absolute;
  left: 95%;
}

// ------------------ breakpoint between mobile and desktop ---------------------------------------
// ------------------------------------------------------------------------------------------------

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem 0;
  }

  .nav {
    flex-direction: row;
  }

  .burger {
    display: none;
  }

  .icon {
    display: none;
  }
}
