@import "../../utils/scss/_variables";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $foregroundWhite;

  & section {
    margin: 0.5rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $mainGreen;
  padding: 1rem;
  border-radius: 40px;
  color: white;
  min-width: 10rem;

  &:hover {
    background-color: $mainGreenDim;
  }
}

// ------------------ breakpoint between mobile and desktop ---------------------------------------
// ------------------------------------------------------------------------------------------------

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
  }

  .nav {
  }
}
