// syntax notes can be found at the bottom

// color variables
//   backgrounds
$main-green: #3cb3ab;
$main-green-dim: #308f88;
$main-green-brighten: #44cac1;
$foreground-white: #fff;
$background-white: #fafafa;
$button-black: #2f2f2f;
$main-black: #000;

// This is for error and warnings
$light-pink: #ffacb4;
$glowingYellowTextColor: #ffe;
$warningTextColor: #fa8;
$warningTextColorHover: #fdb;
$warningTextColorLight: #fc9;
$warningBackgroundColor: #fdb;
$warningBackgroundColorHover: #fed;
$dangerTextColor: #f88;
$dangerTextColorHover: #fbb;
$dangerTextColorLight: #fcc;
$dangerBackgroundColor: #f04747;
$dangerBackgroundColorHover: #d02727;

// These are just notes below for developer use:

// syntax
// $variable: value;

/* map structure
  font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
  );
*/

/*
 & can be used for appending
  .main {
    width: 80%;
    margin: 0 auto;

    &__paragraph{
      font-weight: map-get($font-weights, bold);
    }
  }

  results to (CSS):
  .main {
    width: 80%;
    margin: 0 auto;
  }

  .main__paragraph{
    font-weight: 700;
  }

  #{&} is interpolation
  .main {
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph{
      font-weight: map-get($font-weights, bold);

      // appending :hover using &
      &:hover {
        color: pink;
      }
    }
  }

  results to (CSS):
  .main {
    width: 80%;
    margin: 0 auto;
  }

  .main .main__paragraph{
    font-weight: 700;
  }

  .main .main__paragraph:hover{
    color: pink;
  }
*/
